@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    color: #ccc;
    background: linear-gradient(120deg, #414345, #1c1c1c, #232526);
    background-size: 200% 200%;
    animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.container{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4B4B4B;
    padding-bottom: 10px;
}

.navbar-left{
    font-family: Barlow Condensed, sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-right: 40px;
}
.header_desc{
    color: #ccc;
}

.navbar-right{
    display: flex;
    gap: 50px;
}

.navbar-right a{
    color: #ccc;
    text-decoration: none;
    font-size: 32px;
    font-family: Barlow Condensed, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.2s;
}

.navbar-right a.active{
    color: #650000;
}

.navbar-right a:hover{
    color: #ccc;
}

.container_info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}

.wrapper_img img{
    width: 750px;
    height: 750px;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(0.7);
    position: relative;
        right: 100px;
}

.wrapper_info h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 18px;
    font-family: Inter Tight, sans-serif;
}

.wrapper_info .red{
    color: #650000;
    letter-spacing: 2px;
}

.wrapper_info p{
    max-width: 400px;
    margin-bottom: 18px;
    color: #ccc;
    font-size: 1.2rem;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 12px;
}

.contacts button{
    font-family: Barwol Condensed, sans-serif;
    background: #650000;
    color: #ccc;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.3rem;
}

.contacts a{
    color: #650000;
    font-size: 1.9rem;
    text-decoration: none;
}


.skills-section {
  max-width: 1900px;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
  border: 2px solid #444;
  box-sizing: border-box;
  overflow: hidden;
}

.skills-title {
  color: #a00;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 36px;
  font-family: Inter Tight, sans-serif;
  font-weight: 700;
}

.skills-list {
  display: flex;
  flex: 1 1 150px;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.skill-card {
  background: #262626;
  border-radius: 12px;
  padding: 16px 18px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 2px #444;
}

.skill-card i {
  font-size: 38px;
  margin-bottom: 8px;
}

.skill-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 7px;
  background: #ccc;
  border-radius: 4px;
  margin-bottom: 6px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #8bc34a;
  border-radius: 4px;
  transition: width 0.5s;
}



.projects-section {
  max-width: 1900px;
  height: 100%;
  margin: 20px 20px;
  padding: 25px;
  background: #222;
  border: 2px solid #333;
  border-radius: 16px;
  box-sizing: border-box;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  color: #900;
  letter-spacing: 2px;
  font-weight: bold;
  width: 100%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: center;
  
}

.project-card {
  width: 100%;
  height: 100%;
  background: #222;
  box-sizing: border-box;
  border: 2px solid #444;
  border-radius: 24px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-title {
  top: 16px;
  left: 0;
  text-align: center;
  color: #650000;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 2;
  pointer-events: none;
  margin-bottom: 5px;
  margin-top: 15px;
}

.project-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
  margin-top: 10px;
  display: block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 30, 30, 0.7); 
  text-align: center;
  padding: 12px 0;
}

.card-footer button {
  background: #650000;
  color: #ccc;
  border: none;
  border-radius: 8px;
  padding: 10px 36px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}

.card-footer button:hover {
  background: #c00;
}


@media (max-width: 1650px) {
  .wrapper_img img{
    width: 650px;
    height: 650px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media (max-width: 1550px) {
  .wrapper_img img{
    width: 550px;
    height: 550px;
  }
  .wrapper_info h1{
    font-size: 4.2rem;
  }
  .skills-list{
    gap: 65px;
  }
}

@media (max-width: 1480px){
    .skills-section{
    max-width: 1470px;
    padding: 15px;
  }
  .skills-title{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .skill-card{
    width: 170px;
  }
  .skills-list{
    gap: 55px;
  }
} 
@media (max-width: 1450px) {
  .wrapper_img img{
      width: 550px;
      height: 550px;
      position: relative;
        right: 50px;
  }
  .wrapper_info p{
    font-size: 1.15rem;
  }
  .wrapper_info h1{
    font-size: 4rem;
  }
  .skills-list{
    gap: 50px;
    padding: 10px;
  }
  .skills-section{
    max-width: 1470px;
    padding: 15px;
  }
}

@media (max-width: 1420px){
  .skills-section{
    display: inline;
    overflow: hidden;
    border: 2px solid #444;
  }
}

@media (max-width: 1300px) {
  .wrapper_img img{
    width: 500px;
    height: 500px;
  }
  .wrapper_info p{
    font-size: 1.05rem;
  }
  .wrapper_info h1{
    font-size: 3.7rem;
  }
}

@media (max-width: 1170px) {
  .wrapper_img img{
    position: relative;
        right: -5px;
  }
}

@media(max-width: 1070px) {
  .wrapper_info h1{
    font-size: 3.4rem;
  }
}

@media(max-width:870px) {
  .wrapper_img img{
    width: 450px;
    height: 450px;
  }
}